.filebrowser-container {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}

.filebrowser-container > .browser-container {
    flex: 1;
    display: flex;
    min-height: 0;
}
.filebrowser-container > .menu {
    height: 25px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 7px;
    align-items: center;
    padding-right: 10px;
    background-color: #222222;

    .icon {
        color:grey;
        font-size:15px;
    }

    .icon:hover {
        color:white;
        cursor: pointer;
    }
}