
.nodeInfoContainer {
    display:flex;
    flex-direction: column;
    height:100%;
}

.nodeInfoContainer > .nodeInfoTitle {
    font-size: 13px;
    background: #202020;
    color:rgb(158, 158, 158);
    padding: 5px 10px;
}

.nodeInfoContainer > .behaviorInfoContainer {
    display:flex;
    flex-direction: column;
    padding:10px;
    background: #141414;
}

.nodeInfoContainer > .behaviorInfoContainer > .behaviorLabel {
    color:grey;
    font-size:12px;
    padding-bottom: 3px;
}
.nodeInfoContainer> .behaviorInfoContainer > .behaviorInfo {
    font-size:15px;
    color:rgb(122, 122, 122);
}

.nodeInfoContainer > .nodeBehaviorInfo {
    font-size:14px;
    color:rgb(243, 243, 243);
}

.nodeInfoContainer > .participantsLabel {
    font-size:16px;
    color:grey;
    margin-left: 10px;
    margin-bottom: 5px; 
    margin-top: 10px;
}

.nodeInfoContainer > .participantsTitle {
    font-size: 16px;
    background: #333;
    color:rgb(158, 158, 158);
    padding: 5px 5px 5px 10px;
    font-size: 12px;
    margin-bottom: 5px;
}

.nodeInfoContainer > .participantsRow {
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.nodeInfoContainer > .participantsRow > .selectParticipants {
    flex:1;
    margin:0 10px;
    background-color: #333;
    color: rgb(184, 184, 184);
    border: none;
}

.nodeInfoContainer > .participantsRow > .icon {
    color:grey;
    cursor: pointer;
    margin: 0 5px;
}

.nodeInfoContainer > .participantsRow > .icon:hover {
    color: white;
}

 
.nodeInfoContainer > .participantsContent {
    display:flex;
    flex:1;
    padding:10px;
    flex-direction: column;
    gap:10px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    scrollbar-color: #47474766 #252526;
    scrollbar-width: thin;
    font-size:14px;
}


.nodeInfoContainer > .participantsContent  > .addInvariantPlaceholder {
    height: 25px;
    width:100%;
    color:grey;
    display:flex;
    justify-content: right;
    align-items: center;
    font-size:13px;
    cursor: pointer;
    .icon {
        font-size:20px;
        display: flex;
        align-self: center;
    }
}

.noSelect {
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:grey;
}