
.nodeInfoContainer {
    display:flex;
    flex-direction: column;
    height:100%;
}

.nodeInfoContainer > .nodeInfoTitle {
    font-size: 13px;
    color:rgb(199, 199, 199);
    padding: 10px 10px;
    background: #272727;
}

.nodeInfoContainer > .behaviorInfo {
    display:flex;
    flex-direction: column;
    padding:20px 10px;
    background: #202020;

    .behaviorLabel {
        font-size:15px;
        color:rgb(194, 194, 194);
    }
}

.nodeInfoContainer > .participantInfo {
    padding: 10px;

    .participantsLabel {
        font-size:16px;
        color:grey;
    }
}

.nodeInfoContainer > .participantInfo > .participantsRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;

    .selectParticipants {
        flex:1;
        background-color: #333;
        color: rgb(184, 184, 184);
        border: none;
        padding: 3px;
    }

    .icon {
        color:grey;
        cursor: pointer;
        margin-left:10px;
    }

    .icon:hover {
        color: white;
    }
}

 
.nodeInfoContainer > .participantInfo > .participantsContent {
    display:flex;
    flex:1;
    flex-direction: column;
    gap:10px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    scrollbar-color: #47474766 #252526;
    scrollbar-width: thin;
    font-size:14px;

    .addInvariantPlaceholder {
        height: 25px;
        width:100%;
        color:grey;
        display:flex;
        justify-content: left;
        align-items: center;
        font-size:13px;
        cursor: pointer;
        .icon {
            font-size:20px;
            display: flex;
            align-self: center;
        }
    }
}

.noSelect {
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:grey;
}