[submodule "server/tools/instrumenter"]
	path = server/tools/instrumenter
	url = https://github.com/vishalpalaniappan/design-instrumenter.git
	branch = main
[submodule "server/tools/design-runtime"]
	path = server/tools/design-runtime
	url = https://github.com/vishalpalaniappan/design-runtime-node.git
	branch = use-trace-input
[submodule "server/tools/synthesizer"]
	path = server/tools/synthesizer
	url = https://github.com/vishalpalaniappan/dal-synthesizer-python.git
	branch = add-synthesizer
